<!DOCTYPE html>
<html>
<head>
  <!-- Weclome! This site is made using Skeleton (http://getskeleton.com/), icons from iconmonstr.com and pure html/css/javascript. You can find the source  at https://github.com/alexggordon/alexggordon -->
  <title>Alex Gordon - Software Engineer</title>
  <meta charset="utf-8">
  <meta name="description" content="Alex Gordon">
  <meta name="keywords" content="alexggordon, kasparov, sequoia, studios, alex, gordon, chess, software, engineer">
  <meta name="author" content="Alex Gordon">

<!--   <link href='css/skeleton.css' rel='stylesheet' type='text/css'>
  <link href='css/normalize.css' rel='stylesheet' type='text/css'>
  <link href='css/custom.css' rel='stylesheet' type='text/css'>
 -->
  <%= css :skeleton, :normalize, :custom %>
  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='//fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <!-- <link rel="icon" type="image/png" href="images/favicon.png" /> -->

</head>
<body>

<div class="container">
  <div class="row">
    <div class="twelve columns" style="margin-top: 25%">
      <h1><strong>Hi, I'm Alex.</strong></h1>
      <h4>I like <a href="http://www.kasparov.io">chess</a>, play with a few <a href="http://www.sequoiastudios.io">side projects</a> and love open source. Currently, I hack rails apps at an amazing company called <a href="http://www.veracross.com">Veracross</a>.<br><br>

      Send me an email and <a href="mailto:hello@alexggordon.com">say hello</a> if you have any questions.</h4>
    </div>
  </div>
</div>
<div class="container">
  <a class="social" href="https://twitter.com/alexggordon">
    <%= img '/images/twitter.svg'%>
  </a>
  <a class="social" href="https://github.com/alexggordon">
    <%= img '/images/github.svg'%>
  </a>
  <a class="social" href="https://linkedin.com/in/alexggordon">
    <%= img '/images/linkedin.svg'%>
  </a>
</div>
</body>
</html>
